<!-- Header section -->
<div class="home-pg">
    <div class="container">
        <div class="header-text">
            <h1 class="text-danger" style="font-size:60px; font-weight:bold;">BOULOT</h1>
            <h1 class="text-white" id="element" style="font-size:60px; font-weight:bold;"></h1>  
        </div><br><br><br>
        <!-- <div class="btn-position">
            <a class="btn btn-danger btn-lg" href="#" role="button">Démarrez ici</a>
        </div>  -->
    </div>
</div>
<!-- Fin Header section -->

<!-- Description section -->
<div class="description">
    <div class="container">
        <h1 class="text-secondary" style="font-size:58px; font-weight:bold;">
            Boulot connecte les personnes entre elles afin de créer de la valeur. Vous avez des compétences
            à faire valoir ? Commencez à être rémunéré pour cela.
        </h1>
    </div>
</div>
<!-- Fin Description section -->

<!-- Users section -->
<div class="users">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Rejoignez l'équipe</h2>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
<!-- Fin Users section -->

