<!-- Header section -->
<section class="home-pg">
    <div class="container">
        <div class="header-text">
            <h1 class="text-danger" style="font-size:60px; font-weight:bold;">BOULOT</h1>
            <h1 class="text-white" id="element" style="font-size:60px; font-weight:bold;"></h1>  
        </div><br><br><br>
        <!-- <div class="btn-position">
            <a class="btn btn-danger btn-lg" href="#" role="button">Démarrez ici</a>
        </div>  -->
    </div>
</section>
<!-- Fin Header section -->

<!-- Description section -->
<section class="description">
    <div class="container">
        <h1 class="text-secondary" style="font-size:58px; font-weight:bold;">
            Boulot connecte les personnes entre elles afin de créer de la valeur. Vous avez des compétences
            à faire valoir ? Commencez à être rémunéré pour cela.
        </h1>
    </div>
</section>
<!-- Fin Description section -->

<!-- Users section -->
<section class="users">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-secondary" style="font-weight:bold;font-size:50px;">
                    Commencez une expérience nouvelle du travail
                </h1><br>
                <a href="who" class="btn btn-lg btn-danger">DÉMARREZ ICI &nbsp;></a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</section>
<!-- Fin Users section -->

<!-- CTA section -->
<section class="cta">
    <div class="container cta-content">
        <div>
            <h1 class="text-white" style="font-weight:bold;font-size:50px;">
                Soyez informer de nos activités
            </h1><br>
            <form action="">
                <div class="col-auto">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Adresse e-mail" style="width:70vh">
                    <label class="sr-only" for="inlineFormInputGroup">Adresse e-mail</label>
                    <input type="submit" value="Inscription" class="btn btn-lg btn-danger">
                </div>
            </form>
        </div>
    </div>
</section>
<!-- Fin CTA section -->

