<section class="who">
    <div class="container who-content">
        <div class="row">
            <!-- Particuliers section -->
            <div class="col particuliers">
                <p class="text-danger"><b>BOULOT</b></p>
                <p class="text-danger" style="font-size:40px;">Standard</p><br>
                <p class="text-white"><b>Pour élèves, étudiants, jeunes diplomés,<br> chômeurs, salariés, ouvriers et demandeurs d'emploi</b></p><br>
                <p class="text-white">Mettez vos compétences et savoir-faire au service <br> d'autres personnes et soyez rémunérés.</p><br>
                <a href="#!" class="btn btn-lg btn-danger">INSCRIPTION &nbsp;></a>
            </div>
            <!-- Fin Particuliers section -->
    
            <!-- Entreprises section -->
            <div class="col entreprises">
                <p class="text-danger"><b>BOULOT</b></p>
                <p class="text-danger" style="font-size:40px;">Business</p><br>
                <p class="text-white"><b>Pour startups, PME, entreprises et firmes</b></p><br>
                <p class="text-white">Trouvez les compétences et la main d'oeuvre<br> dont vous avez besoin pour des besoins ponctuels ou à long terme. </p><br>
                <a href="#!" class="btn btn-lg btn-danger">INSCRIPTION &nbsp;></a>
            </div>
            <!-- Fin Entreprises section -->
        </div>
    </div>
</section>
